<html>
<form action="." method="POST" name="form1">
    {% csrf_token %}
	<span style="color:blue">{{message}}</span>
	<p><span style="color:red">*</span>為必填</p>
    <p>
	<span style="color:red">*</span>
	帳號：<input type="text" name="username" id="username" required="required"/>
	</p>
    <p>
	<span style="color:red">*</span>
	密碼：<input type="password" name="password" id="password" required="required"/>
	</p>
	<span style="color:red">*</span>
	確認密碼：<input type="password" name="password2" id="password2" required="required"/>
	</p>
	<p>
	<span style="color:red">*</span>
	Email：<input type="email" name="email" id="email" size="40" required="required"/>
	</p>
	<p>
	<span style="color:red">*</span>
	連絡電話(手機)：<input type="text" name="phone" id="phone" required="required"/>
	</p>
    <p>
    <input type="submit" name="button" id="button" value="提交" />
    </p>   
</form>
</html>