<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>商品列表</title>
	<style >
	body{
		background-color: lightyellow;
		text-align:center;
	}
	em{
		color: LightSeaGreen;
	}
	</style>
</head>
<body>
<h1>下列為{{Id.Name}}資訊</h1>

<!--搜尋商品-->
<form action="/list/" method="post">
    <label for="Name">商品名稱: </label>
    <input id="Name" type="text" name="Name">
    <input type="submit" value="確認">
    <input type="hidden" name="ok" value="yes">
</form>
<br>

<!--印出商品-->
<table style="text-align:center;" border="1" cellpadding="0" cellspacing="0" align="center" valign="middle">
    <tr><th>照片</th>
        <th>商品名稱</th>
        <th>價格</th>
        <th>備註</th>
        <th>賣家</th>
        <th>更新時間</th>
    </tr>
<tr>
    <td> <img src="/media/{{ Id.photo }}"></td>
    <td>{{Id.Name}}</td>
	<td>{{Id.price}}</td>
    <td>{{Id.content}}</td>
	<td>{{Id.seller}}</td>
	<td>{{Id.created_at}}</td>

</tr>

</table>
<h1>-----------------尚有各種資訊待新增--------------<h1>
<br>

<em>{{ current_time }}</em>

</body>
</html>