<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>商品列表</title>
	<style >
	body{
		background-color: lightyellow;
		text-align:center;
	}
	em{
		color: LightSeaGreen;
	}
	</style>
</head>
<body>
<h1>下列為商品資訊</h1>

<!--搜尋商品-->
<form action="/list/" method="post">
    <label for="Name">商品名稱: </label>
    <input id="Name" type="text" name="Name">
    <input type="submit" value="確認">
    <input type="hidden" name="ok" value="yes">
</form>
<br>
<!--印出商品-->
<table style="text-align:center;" border="1" cellpadding="0" cellspacing="0" align="center" valign="middle">
        <!--<th>商品名稱</th>
        <th>商品價格</th>
        <th>照片URL</th>
        <th>備註</th>
        <th>賣家</th>
        <th>更新時間</th>-->
    <tr><td>照片</td>
        <td>商品名稱</td>
        <td>價格</td>
    </tr>
{%for Item in Items%}
<tr>
    <td> <img src="/media/{{ Item.photo }}"></td>
    <td>{{Item.Name}}</td>
	<td>{{Item.price}}</td>
    <!--<td>{{Item.content}}</td>
	<td>{{Item.seller}}</td>
	<td>{{Item.created_at}}</td>
    -->
</tr>
{%endfor%}
</table>
<br>

<em>{{ current_time }}</em>

</body>
</html>