<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>商品列表</title>
	<style >
	body{
		background-color: lightyellow;
		text-align:center;
	}
	em{
		color: LightSeaGreen;
	}
	</style>
</head>
<table>
<h1><a href="">首頁</a></h1>

<!--搜尋商品-->
<form action="/list/" method="post">
    <label for="Name">商品名稱: </label>
    <input id="Name" type="text" name="Name">
    <input type="submit" value="確認">
    <input type="hidden" name="ok" value="yes"><br>
    排序方式：
    <a href="price">價格&nbsp&nbsp&nbsp</a>
    <a href="Name">名稱&nbsp&nbsp&nbsp</a>
    <a href="created_at">新增時間</a>

</form>

<br>
<table border=0 valign="top" width="100%">
    <tr>
    <td valign="top" align="left">
       <table border="1" valign="top" width="100%">

    <th style="valign:top; width:100%;">商品類別</th>
    {%for ItemTag in ItemTags %}
           <tr>
               <td align="center"><a href="{{ItemTag.Tag}}">{{ItemTag.Tag}}</a></td>
       </tr>
    {%endfor%}
       </table>
        </td>
    <td >
<!--印出商品-->
<table style="text-align:center;" border="1" cellpadding="0" cellspacing="0" align="center" valign="middle">
        <!--<th>商品名稱</th>
        <th>商品價格</th>
        <th>照片URL</th>
        <th>備註</th>
        <th>賣家</th>
        <th>更新時間</th>-->
    <tr><th>照片</th>
        <th>商品名稱</th>
        <th>價格</th>
    </tr>
{%for Item in Items%}
<tr>
    <td width:100%; height:auto;> <a href="pd/{{Item.Identity}}/"><img src="/media/{{ Item.photo }}"></a></td>
    <td>{{Item.Name}}</td>
	<td>{{Item.price}}</td>
    <!--<td>{{Item.content}}</td>
	<td>{{Item.seller}}</td>
	<td>{{Item.created_at}}</td>
    -->
</tr>
{%endfor%}
</table>
    </td>
</tr>
</table>
<br>

<em>{{ current_time }}</em>

</body>
</html>