<html>
	<span style="color:red">{{message}}</span>
	<p>帳號:{{username}}</p>
	<form action="." method="POST" name="form1">	
		{% csrf_token %}
		<p>請輸入當前密碼:
		<input type="password" value="{{password}}" name="current_pass" id="current_pass" />
		</p>
		<p>請輸入新密碼:
		<input type="password" name="new_pass" id="new_pass" />
		</p>
		<p>確認新密碼:
		<input type="password" name="check_pass" id="check_pass" />
		</p>
		<input type="submit" name="button" id="button" value="提交" />
		<input type="button" value="返回" onclick="location='/account/modify/'"/>
	</form>
</html>